.calendar-container {
    /*border: 1px solid rgba(0, 0, 0, 0.1); */
}

.navbar-calendar {
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.navbar .calendar-nav > li > a {
    padding: 10px;
    color: #484848;
    font-size: 12px;
    font-weight: normal;
    border-bottom: 2px solid transparent;
}

.navbar .calendar-nav > li > a:hover,
.navbar .calendar-nav > li > a:active {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.navbar .calendar-nav > li > a.active {
    color: #484848;
    border-bottom: 2px solid #ff944d;
}


