h1 {
    font-weight: 600;
    font-size: 36px;
}

h2 {
    font-size: 16px;
    margin: 5px 0 5px 0;
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: normal
}

p {
    font-size: 16px;
    font-weight: 300;
}

a.tags {
    font-weight: normal;
}

.main-content {
    margin-top: 50px;
}

.event-main-container {
    border-radius: 2px;
    overflow: hidden;
    border-bottom: 0;
}

.event-img-container {
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
}

.event-img {
    width: 100%;
    height: auto;
}

.event-block-container {
    margin: 2px 10px 0 10px;
}

.top-row {
    margin-bottom: 10px;
}

.event-title {
    display: inline-block;
    margin-top: -10px;
    width: 80%;
}

.event-size-text {
    border-bottom: 2px solid lightsalmon;
    display: inline-block;
    margin-top: 0px;
}

.interest-btn {
    margin-top: -2px;
}

.card-btn-container {
    margin: 0;
}

#event-info {
    margin-bottom: 15px;
}

#event-info .nav-pills {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

#event-info .nav-pills > li {
    margin: 0 auto;
    width: 50%;
    float: left; 
    text-align: center;
}

#event-info .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
    display: block;
    width: 100%; 
    height: 40px;
    padding: 0px; 
    line-height: 40px;
    background-color: #fff;
    color: #282828;
}

#event-info .nav-pills > li > a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#event-info .nav-pills > li.active > a {
    font-weight: bold;
    border-bottom: 2px solid #ff944d;
}

#event-info .tab-content {
    background-color: #fff;
}

.description-info-container > p > a {
    color: #1c94e0;
}

.google-map-container {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}

.google-map {
    border: 0;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
}

.host-info-container {
    margin-top: 20px;
}

.host-info {
    display: inline-block;
}

.username {
    margin-bottom: 10px;
}

.username > h2 {
    font-size: 24px;
    font-weight: 300;
}

.fullname {
    max-width: 100%;
    word-wrap: break-word;
}

.fullname > h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}

.user-stats {
    margin: 5px;
}

.points,
.connections {
    width: 40%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.points {
    padding: 5px;
}

.connections-center {
    width: 70%;
}

.points > h4,
.connections-btn > h4 {
    margin: 0;
    font-size: 14px;
}

.connections-btn {
    border: 0;
    padding: 5px 0;
    background-color: transparent;
    width: 100%;
    position: relative;
}

.connections-btn:active {
    box-shadow: none;
}

.connections-dropdown {
    text-align: center;
    font-weight: 300;
    width: 100%;
}

.connections-dropdown:hover {
    text-align: center;
    font-weight: 300;
}

.host-img-container {
    height: 120px;
    width: 120px;
    float: right;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.host-img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.bio > p {
    margin: 0px;
    color: rgba(0,0,0,0.6);
}

@media only screen and (max-width: 767px){
    h1 {
        font-size: 20px;
    }

    h2,
    h3,
    p {
        font-size: 12px;
    }

    .main-content {
        margin-top: 100px;
    }


    #event-info .nav-pills > li > a { 
        font-size: 12px;
    }

    .host-img-container {
        height: 80px;
        width: 80px;
    }
}