.search-query {
    margin: 0 10px 15px 10px;
}

.search-query > h3 {
    margin-top: 0;
}

#search-stream .nav-pills {
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#search-stream .nav-pills > li {
    margin: 0 auto;
    width: 25%;
    float: left; 
    text-align: center;
}

#search-stream .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
    display: block;
    width: 100%; 
    height: 40px;
    padding: 0px; 
    line-height: 40px;
    background-color: #fff;
    color: #282828;
}

#search-stream .nav-pills > li > a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#search-stream .nav-pills > li.active > a {
    font-weight: bold;
    border-bottom: 2px solid #ff944d;
}

#search-stream .tab-content {
    background-color: #fff;
}

.user-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 70px;
    margin-bottom: 15px;
    
}

.user-img-container {
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: top;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.user-img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.user-info-container {
    display: inline-block;
}

.username-text {
    display: block;
    font-weight: bold;
    font-size: 20px;
    font-weight: 300;
    height: auto;
    margin-left: 10px;
    color: #282828;
}

.fullname-text {
    display: block;
    font-size: 14px;
    height: auto;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.no-results {
    margin: 0 5px 400px 5px;
}

.no-results-text:before {
    content: "There were no results :("
}

@media only screen and (max-width: 767px){    
    .main-content{
        margin-top: 120px;
    }

    #search-stream .nav-pills > li > a {
        font-size: 12px;
    }
}