.card-icon {
    background-size: 100%;
    outline: none;
    height: 32px;
    width: 32px;
    display: block;
}

.interest-icon {
    background-size: 100%;
    outline: none;
    height: 20px;
    width: 20px;
    float: right;
}

.icon-star {
    background-image: url('../img/star.png');
}

.icon-star-grey {
    background-image: url('../img/star-grey.png');
}

.icon-checkmark {
    background-image: url('../img/checkmark.png');
}

.icon-exclamation {
    background-image: url('../img/exclamation.png');
}

.icon-really-happy {
    background-image: url('../img/really-happy.png');
}

.icon-happy {
    background-image: url('../img/happy.png');
}

.icon-unhappy {
    background-image: url('../img/unhappy.png');
}

@media only screen and (max-width: 767px){
    .card-icon {
        height: 27px;
        width: 27px;
    }

    .interest-icon {
        height: 15px;
        width: 15px;
    }
}