.card-icon {
    background-size: 100%;
    outline: none;
    height: 32px;
    width: 32px;
    display: block;
}

.icon-star {
    background-image: url('../img/star.png');
}

.icon-star-grey {
    background-image: url('../img/star-grey.png');
}

.icon-checkmark {
    background-image: url('../img/checkmark.png');
}

@media only screen and (max-width: 767px){
    .card-icon {
        height: 27px;
        width: 27px;
    }
}