.navbar-default {
    border: transparent;
    box-shadow: 0px 0px;
}

.navbar-brand {
    margin-top: 5px;
    margin-left: 18px;
}

.navbar-brand-full {
    height: 47px;
    width: auto;
}

.navbar-fixed-top {
    height: 60px;
}

.main-content {
    margin-top: 10px;
    position: relative;
    min-height: 100%
}

.background-img {
    background-image: url("../img/events/football.jpg");
    background-position: center center; 
    background-size: cover;
}

.box-container {
    height: 600px;
}

.text-container {
    margin-top: 120px;
}

.text-container > h1, 
.text-container > h2 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-container > h1 {
    margin-left: -8px;
}

.text-container > h1 {
    font-size: 100px;
}

.text-container > h2 {
    font-size: 70px;
    margin-top: -10px;
}

.text-container > h3 {
    margin-top: 20px;
    font-size: 20px;
}

.text-container > h3 > a {
    cursor: pointer;
    color: #1c94e0;
    
}

.text-container > h4 {
    font-size: 18px;
}

#get-started {
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #ff944d;
    border-color: #ff944d;
    border-radius: 2px; 
    outline: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); 
    padding: 14px 12px;
}

.box-container-two {
    background-color: lightgray;
    height: 600px;
}

@media only screen and (max-width: 767px) {
    .text-container {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 450px) {
    .text-container > h1 {
        font-size: 90px;
    }

    .text-container > h2 {
        font-size: 60px;
    }

    .text-container > h3 {
        font-size: 18px;
    }

    #get-started {
        width: 100%;
    }
}