.container {
    margin: 50px 0px;
}

.login-container {
    padding: 25px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 8px;
}

#inputEmail #inputPassword {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    outline: none;
}

#passwordHelp {
    margin-left: 13px;
}

#passwordHelp:hover {
    color: #3897f0;
    cursor: pointer;
    border-bottom: 1px solid;
}