.navbar-default {
    background-color: #ffffff;
    color: #484848;
    border-radius: 0px;
    border: transparent;
}

.navbar-brand {
    width: 40px;
    padding: 0px;
    margin-left: 15px;
    margin-top: 5px;
}

.navbar-brand-logo {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.navbar-left {
    width: 60%;
}

.navbar-search {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    outline: none;
}

.navbar-default .navbar-nav > li > a {
    color: #484848;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ff944d;
}

.navbar-default .navbar-nav > li > a.active {
    color: #ff944d;
    border-bottom: 2px solid #ff944d
}

.navbar-default .navbar-form {
    border-color: transparent;
}

/*TEMPORARY*/
.navbar-right { 
    margin-right: 15px;
    
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

.navbar-right {
    float: right!important;
}

.main-content{
    margin-top: 70px;
}

.card {
    display: block;
    width: 100%;
    margin: 8px 0px;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card-header {
    padding: 10px;
}

.header-user {
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: bottom;
}

.header-user-img {
    width: 100%;
    height: auto;
}

.header-text {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    height: auto;
    margin-left: 10px;
}

.img-container {
    padding: 10px;
    height: 340px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-title {
    margin-bottom: 2px;
}

.card-block {
    padding: 0 10px;
}

.card-text {
    margin: 1px 0px;
    color: rgba(0, 0, 0, 0.5);
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* fixed width for cards */
.col-fixed {
    width:320px;
}

/* simple vertical align */ 
.vertical-align {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 767px){
    .navbar-left {
        width: 100%;
        margin: 0px;
        padding-top: 18px;
    }

    .navbar-search {
        width: 80%;
    }

    .navbar-right {
        float: right!important;
    }

    .navbar-brand {
        margin-top: 15px;
        padding: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .main-content{
        margin-top: 140px;
    }

    .row.vertical-align {
        display: block;
    }

}

/* custom 3 column centering */ 
.center-row-9 {
    margin: 0 12.5%;
}