@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
    color: #282828;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.navbar {
    min-height: 0px;
}

.navbar-default {
    background-color: #ffffff;
    color: #282828;
    border-radius: 0px;
    border-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    width: 40px;
    height: 40px;
    padding: 0px;
    margin-left: 15px;
    margin-top: 5px;
}

.navbar-brand-logo {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .navbar-default .navbar-left {
        width: 50%;
    }

    .form-group {
        width: 100%;
    }
}

/* removes border under search bar */
.navbar-default .navbar-form {
    border: none;
}

.navbar-search {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    outline: none;
}

.navbar-search:focus {
    border-color: #282828;
}

.navbar-default .navbar-nav > li > a {
    color: #282828;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav > li > a.active {
    color: #ff944d;
    border-bottom: 2px solid #ff944d;
}

.navbar-default .navbar-nav > li > a.host-nav {
    color: #ff944d;
    padding: 5px 15px;
    background-color: #ffffff;
    border-bottom: transparent;
    border: 1px solid #ff944d;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 10px;
    
}

.navbar-default .navbar-nav > li > a.host-nav:hover,
.navbar-default .navbar-nav > li > a.host-nav.active {
    color: #ffffff;
    background-color: #ff944d;
}

.navbar-right { 
    margin-right: 15px;
}

.navbar-nav > li, .navbar-nav {
    float: left 
}

.navbar-right {
    float: right !important;
}

.main-content{
    margin-top: 70px;
    width:100%;
    position: relative;
    min-height: 100%
}

.navbar-secondary {
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-center > li {
    float: none;
    display: inline-block;
}

.secondary-nav {
    margin: 0px 0px;
}

.navbar .secondary-nav > li > a {
    padding: 10px;
    color: #282828;
    font-size: 12px;
    font-weight: normal;
    border-bottom: 2px solid transparent;
}

.navbar .secondary-nav > li > a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.navbar .secondary-nav > li > a.active {
    color: #282828;
    font-weight: bold;
    border-bottom: 2px solid #ff944d;
}

.card {
    display: block;
    width: auto;
    margin: 25px 0px;
    background: white;
    border-radius: 2px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.card:hover {
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.card-header {
    padding: 10px; 
}

.header-user {
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: bottom;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.header-user-img {
    width: 100%;
    height: auto;
}

.header-text {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    height: auto;
    margin-left: 10px;
    color: #282828;
}

#event-link {
    color: #282828;
}

.img-container {
    padding: 10px 0px;
    overflow: hidden;
    max-height: 400px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-event-img {
    width: 100%;
    height: auto;
}

.event-size-indicator-huge {
    width: 100%;
    height: 5px;
    background-color: lightsalmon;
}

.event-size-indicator-large {
    width: 100%;
    height: 5px;
    background-color: orange;
}

.event-size-indicator-midsize {
    width: 100%;
    height: 5px;
    background-color: red;
}

.event-size-indicator-small {
    width: 100%;
    height: 5px;
    background-color: darkred;

}

.card-title {
    font-weight: 600;
    margin-bottom: 2px;
}

.card-block {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.card-text-container {
    display: inline-block;
    width: 80%;
}

.card-text {
    margin: 0px 0px;
    color: rgba(0, 0, 0, 0.6);
}

.card-rating-container {
    height: 70px;
    width: 20%;
    margin-top: 10px;
    float: right;
}

.lit-rating-container {
    vertical-align: top;
    float: right;
    width: 60px;
    height: 60px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.lit-rating {
    height: 100%;
    width: 100%;
}

/* fixed width for cards */
.col-fixed {
    width: 600px;
    padding: 0px;
}

/* simple vertical align */ 
.vertical-align {
    display: flex;
    align-items: center;
}

.row-centered {
    margin-bottom: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.footer > h6  {
    display: inline-block;
    width: 120px;
    font-size: 14px;
}

@media only screen and (max-width: 767px){

    /*CARD TEXT*/
    a#user {
        font-size: 16px;
    }
    
    h4 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    .navbar-default {
        border-color: rgba(0, 0, 0, 0.1);
    }

    .navbar-left {
        width: 100%;
        margin: 0px;
        padding-top: 18px;
    }

    .navbar-search {
        width: 80%;
    }

    .navbar-right {
        width: 100%;
        text-align: center;
        margin: 0px; 
    }

    .navbar-right > li {
        float: none;
        display: inline-block;
    }

    .navbar-brand {
        margin-top: 15px;
        padding: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .main-content{
        margin-top: 100px;
    }

    .row.vertical-align {
        display: block;
    }

    .lit-rating-container {
        width: 50px;
        height: 50px;
    }

    .footer > h6 {
        display: inline-block;
        width: 100px;
        font-size: 12px;
    }
}

a,
a:hover {
    cursor: pointer;
    color: #1c94e0; 
}

a#tags {
    color: #1c94e0;
}

a#user {
    color: #282828;
    float: bottom;
}