.profile-container {
    padding: 15px 0;
    margin-bottom: 0;
}

.profile-img-container {
    float: right;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-photo {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.live-edit {
    width: 100%;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.live-edit:hover {
    border-bottom: 1px solid #282828;
}

#new-upload-btn {
    color: black;
    display: inline-block;
    cursor: pointer;
}

.camera-container {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);    
}

.camera-outline {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
}

.line-one {
    height: 34px;
    margin-bottom: 5px;
}

.username { 
    display: inline-block;
    max-width: 50%;
    word-wrap: break-word;
}

.username > h2 {
    margin: 0px; 
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
}

.profile-btn,
.follow-btn {
    float: right;
    vertical-align:top;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}

.edit-profile-btn:before {
    content: 'Edit Profile';
}

.save-profile-btn:before {
    content: 'Save Changes';
}

.dropdown-container {
    float: right;
}

.profile-settings-btn {
    float: right;
    vertical-align: top;
    border: 1px solid rgba(0,0,0,0.1);
    background: #fff;
}

.settings-item {
    min-width: 120px;
}

.dropdown-item {
    display: block;
}

a.dropdown-item {
    font-weight: 400;
    padding: 5px;
    margin: 0 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-item > b {
    margin-right: 3px;
}

a.dropdown-item:hover {
    border-bottom: 1px solid #282828;
}

.line-two {
    margin-bottom: 10px; 
}

.fullname {
    display: block;
    max-width: 100%;
    word-wrap: break-word;
}

.fullname > h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}

.line-three {
    margin-bottom: 15px; 
}

.bio > p {
    margin: 0px;
    color: rgba(0,0,0,0.6);
}

.line-four {
    margin-top: 15px;
    margin-bottom: 15px;
}

.points,
.connections {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.connections-center {
    width: 70%;
}

.points > h4 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}

.connections-btn > h4 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.points {
    padding: 5px 0;
}

.connections-btn {
    border: 0;
    padding: 5px 0;
    background-color: transparent;
    width: 100%;
    position: relative;
}

.connections-btn:active {
    box-shadow: none;
}

.connections-dropdown {
    text-align: center;
    font-weight: 300;
    width: 100%;
}

.connections-dropdown:hover {
    text-align: center;
    font-weight: 300;
}

h4 > b {
    margin-right: 3px;
}

hr {
    margin: 5px 0;
}

#event-stream {
    margin-bottom: 30px;
}

#event-stream .nav-pills {
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#event-stream .nav-pills > li {
    margin: 0 auto;
    width: 50%;
    float: left; 
    text-align: center;
}

#event-stream .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
    display: block;
    width: 100%; 
    height: 40px;
    padding: 0px; 
    line-height: 40px;
    background-color: #fff;
    color: #282828;
}

#event-stream .nav-pills > li > a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#event-stream .nav-pills > li.active > a {
    font-weight: bold;
    border-bottom: 2px solid #ff944d;
}

#event-stream .tab-content {
    background-color: #fff;
}


/*FONT RESIZING FOR IPAD AND MOBILE*/
@media only screen and (max-width: 768px) {
    .username > h2 {
        font-size: 18px;
    }

    .profile-btn {
        font-size: 10px;
        margin-top: 4px;
        padding: 6px 2px;
    }

    .profile-settings-btn {
        height: 28px;
        line-height: 14px;
        margin-top: 4px;
    }
}

/*MOBILE SIZE FIXES*/
@media only screen and (max-width: 767px) { 
    .main-content {
        margin-top: 100px;
    }

    h3 > b {
        font-size: 16px;
    }

    .bio > p {
        font-size: 12px;
    }
    
    .profile-container {
        margin-top: 30px;
    }

    .profile-img-container {
        height: 80px;
        width: 80px;
        margin-top: 15px;
    }

    .camera-outline {
        width: 30px;
        height: 30px;
    }

    .line-one {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .fullname > h3 {
        font-size: 14px;
    }

    .dropdown-item {
        min-width: 60px;
        font-size: 10px;
    }

    .settings-item {
        min-width: 90px;
    }

    .line-two {
        margin-bottom: 5px;
    }

    .line-four {
        margin-bottom: 0px;
    }

    .points > h4,
    .connections-btn > h4,
    #event-stream .nav-pills > li > a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 350px) { 
    .profile-img-container {
        height: 60px;
        width: 60px;
    }
}

